<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes" />

<!-- Place this data between the <head> tags of your website -->
<title>VhiWEB</title>
<meta name="description" content="">

<!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> -->

<!-- App Styles -->
<link href="{{ [
    '@framework.extras',
    ]|theme }}" rel="stylesheet">

<link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">